body {
    font-family: "Noto Sans SC", "微软雅黑";
}
@mixin textEllipsis($lineNum) {
    @if $lineNum == 1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $lineNum; //需要显示的行数
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
// 滚动条美化
* {

    /*滚动条宽或高*/
    &::-webkit-scrollbar {
        width : 8px;
        height: 8px;
    }

    /*正常情况下滑块的样式*/
    &::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius   : 5px;
    }

    /*鼠标悬浮在该类指向的控件上时滑块的样式*/
    &:hover::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius   : 5px;
    }

    /*鼠标悬浮在滑块上时滑块的样式*/
    &::-webkit-scrollbar-thumb:hover {
        background-color: #777;
    }

    /*正常时候的主干部分*/
    &::-webkit-scrollbar-track {
        border-radius   : 5px;
        background-color: white;
    }

    /*鼠标悬浮在滚动条上的主干部分*/
    &::-webkit-scrollbar-track:hover {
        background-color: rgba(0, 0, 0, 0.01);
    }
}